
body {
    background-color: black;
    scroll-behavior: smooth;

}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 5%;
  right: 0px;
}

.menu-toggle.active {
  background-color: #e7298a;
  right: 165px;
  transition: 0.5s;
}

.menu.active {
  z-index: 100;
  display: flex;
}

.main-body {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  transition: 0.5s;
  z-index: 2;
}

.main-body.active
{
  right: 200px;
}

.season-menu-item.active {
  display: none;
}

.menu
{
  position: absolute;
  top: 45px;
  right: 0;
  width: 200px;
  height: 205%;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  overflow-y: scroll;
  display:none;
}

.season-menu-item{
  margin-left: 8px;
}

.bi-arrow-down-up {
  color: #1b9e77;
  font-weight: bold;
  width: 10px;
}

.menu ul li h3
{
  margin-top: 5px;
}

.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #7570b3;
}


@media (max-width: 991px)
{
  .main-body,
  .main-body header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: -3;
}

@font-face {
    font-family: survivorFont;
    src: url(survivant.ttf);
  }

  h1 {
      font-family: survivorFont;
  }

  .app-title {
    font-family: survivorFont;
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #7570b3 0%,
      #1b9e77 29%,
      #d95f02 67%,
      #e7298a 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    display: inline-block;
    font-size: 70px;
  }

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.headline {
  position: relative;
  height: 90vh;
  width: 70vh;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-items: center;
}

#fire-quote {
  font-size: 50px;
  color: white;
}

#app-desc{
  font-size: 22px;
  color: white;
  margin: 15px;
  font-weight: normal;
}

.main-content {
  margin: 140px;
  position: absolute;
}

  .season-header {
    text-align: center;
    color: white;
    margin: 20px;
  }

  .season-info-section {
    display: flex;
    width: 100%;
    color: white;
  }

  .season-info {
    border: solid white 4px;
    border-radius: 2%;
    margin: 5px;
    width: 40%;
    padding: 15px;
  }

  .season-castaways-graph {
    display: flex;
    flex-wrap: wrap;
    border: solid white 4px;
    border-radius: 2%;
    margin: 5px;
    width: 100%;
    padding: 15px;
  }

  .season_castaways_episode {
    border: solid white 4px;
    border-radius: 2%;
    margin: 5px;
    width: 65%;
    padding: 15px;
  }

  .season_watch_recs {
    border: solid white 4px;
    color: white;
    border-radius: 2%;
    margin: 5px;
    width: 100%;
    padding: 15px;
  }

  .season-episode-header {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
  }

  .episode-header {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
  }
  .buttons {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .btn {
    background-color: #e7298a;
    border: solid #e7298a 3px;
  }

  .btn:hover {
    background-color: #1b9e77;
    border: solid #1b9e77 3px;
  }

  .graph-gallery {
    display: flex;
    justify-content: space-between;
  }

  .graph-container {
    display: flex;
    width: 70%;
    flex-shrink: 3;
    background-color: black;
    margin: 15px;
    padding: 15px;
  }

  .cast-image {
    border-radius: 5%;
    border: solid white 2px;
  }

  .castaway-short-name {
    font-size: 20px;
    color: white;
  }

  .castaway-voted-for-name {
    font-size: 10px;
    color: white;
  }

  .image-name {
    margin: 10px;
    width: 100px;
  }

.torch {
  display: flex;
}

.arc-desc {
  display: flex;
}

.heat-map-desc {
  display: flex;
}

.watch-rec-desc {
  display: flex;
}

.icon {
  padding: 15px;
  border-radius: 15px;
  opacity: 75%;
  background-color: black;
}

.tv-icon {
  border: 6px solid #1b9e77;
  background-color: #1b9e77;
}

.rainbow-icon {
  border: 6px solid #d95f02;
  background-color: #d95f02;
}

.grid-icon {
  border: 6px solid #7570b3;
  background-color: #7570b3;
}

.features {
  display: flex;
  border-radius: 1%;
  margin: 30px;
}

.feature-column {
  background-color: white;
  margin: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border: solid white 15px;
  border-radius: 5%;
}

.feature-desc {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  margin: 10px;
}


.season_cast_list {
  display:flex;
  justify-content: flex-start;
}

.castaway_img {
  margin: 8px;
  display: flex;
  flex-shrink: 0;
}

.cast-images {
  display:flex;
  flex-wrap: wrap;
}

.cast-image {
  max-width: 100%;
  height: auto;
}
 
.torch-img {
  display: inline;
  margin-top: 0px;
}

.survivor-font {
  font-family: survivorFont;
}

.key {
  display: flex;
  align-items: center;
}

.subtitle {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.season_castaways_list {
  display: flex;
  flex-wrap: wrap;
  border: solid white 4px;
  border-radius: 2%;
  margin: 5px;
  width: 60%;
  padding: 15px;
}

.season_watch_rec_list {
  margin: 10px;
}

.season-info-item {
  margin: 30px 10px 30px 10px;
}

.season-winner {
  display: flex;
}

#winner-name {
  margin-left: 10px;
}

.eliminated {
  -webkit-filter: grayscale(100%);
}