{% extends 'base.html' %}

{% block title %}Survivor: Season {{ season_num }} Episode {{ episode.episode_num }}{% endblock %}

{% block navbar %}
<li>
  <h3 class="episode-menu-toggle">Episodes</h3>
</li>
{% for episode in episodes %}
<li>
  <a class="episode-menu-item" href="/episode/{{ season.season_id }}/{{ episode.episode_num }}">Episode {{ episode.episode_num }}</a>
</li>
{% endfor %}
{% endblock %}


{% block body %}
<div class="main-content">

    <div class="season-episode-header">
      <h1>Season {{ season.season_id }} Episode {{ episode.episode_num }}</h1>
    </div>

    <div class="episode-header">
      <h1 class="episode_title">{{ episode.title }}</h1>
    </div>
    
    <div class="buttons">
      <a href="/episode-heat-map/{{ season.season_id }}/{{ episode.episode_num }}" class="btn btn-large btn-primary" id="heatMapButton">Heat Map</a>
      <a href="/episode/{{ season.season_id }}/{{ episode.episode_num + 1 }}" class="btn btn-large btn-primary">Next Episode</a>
    </div>

    <div class="graph-gallery">
      <div class="graph-container">
          <div id="arc_diagram"></div>
      </div>
    </div>

    <div class="season-castaways-graph">
        {% for season_castaway in season_castaways %}
        <div class="image-name">
          {% if season_castaway.episode_voted_out <= episode.episode_num %}
          <img src="{{ season_castaway.img_url }}" width="100px" class="cast-image eliminated">
          {% else %}
          <img src="{{ season_castaway.img_url }}" width="100px" class="cast-image">
          {% endif %}
          <h4 class="castaway-short-name">{{ season_castaway.castaway.short_name }}</h4>
              {% for vote in vote_records %}
                  {% if vote.castaway_voted_for and vote.season_castaway_id == season_castaway.season_castaway_id %}
                      <h5 class="castaway-voted-for-name">Voted For: {{ vote.castaway_voted_for.castaway.short_name }}</h5>
                  {% endif %}
              {% endfor %}
        </div>
        {% endfor %}
    </div>
  
  </div>

{% endblock %}

{% block script %}    
    {% include 'js/arc-diagram.js' %}
{% endblock %}