{% extends 'base.html' %}

{% block title %}Survivor: Season {{ season_num }}{% endblock %}

{% block navbar %}
<li>
  <h3 class="episode-menu-toggle">Episodes</h3>
</li>
{% for episode in episodes %}
<li>
  <a class="episode-menu-item" href="/episode/{{ season.season_id }}/{{ episode.episode_num }}">Episode {{ episode.episode_num }}</a>
</li>
{% endfor %}
{% endblock %}

{% block body %}
<div class="main-content">
  <div class="season-header">
    <h1>Season {{ season_num }} </h1>
    <h1>{{ season.season_name }}</h1>
  </div>
  
  <div class="season-info-section">
    <div class="season-info">
      <h2>Location: {{ season.location }}</h2>
      <h2>Tribe Setup: {{ season.tribe_setup }}</h2>
    </div>  

    <div class="season_watch_recs">
      <h2>Watch Recommendations:</h2>
      {% for season, castaways in previous_seasons_of_castaways.items() %}
          <h3>Season {{ season }}</h3>
          {% for castaway in castaways %}
          <p>-{{ castaway.short_name }}</p>
          {% endfor %}
      {% endfor %}
    </div>
  </div>

</div>

{% endblock %}

{% block script %}    
      seasonMenuItems.forEach(item => {
              item.classList.add('active');
            });
{% endblock %}