{% extends 'base.html' %}

{% block body %}
  <h1>Season {{ season_num }} - {{ season.season_name }}</h1>
  <h2>Location: {{ season.location }}</h2>
  <h2>Tribe Setup: {{ season.tribe_setup }}</h2>

  <div class="season_watch_recs">
    <h2>Watch Recommendations:</h2>
    {% for season, castaways in previous_seasons_of_castaways.items() %}
        <h3>Season {{ season }}</h3>
        {% for castaway in castaways %}
        <p>-{{ castaway.short_name }}</p>
        {% endfor %}
    {% endfor %}
  </div>

  <div class="episode_links">
    {% for episode in episodes %}
    <a href="/episode/{{ season.season_id }}/{{ episode.episode_num }}">Episode {{ episode.episode_num }}</a>
    {% endfor %}
  </div>




  <script src="/static/js/season.js"></script>
{% endblock %}